<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''">

    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{vm.content}}</h1>
                        <form novalidate>
                            <div class="form-group">
                                <label for="selectLocation">Location</label>
                                <select id="selectLocation" 
                                        class="form-control" 
                                        ng-model="vm.selectedLocation" 
                                        ng-options="apt.locationName for apt in vm.locations"></select>
                                <p class="bg-info" ng-bind="vm.selectedLocation.locationName"></p>
                            </div>
                            <p>Your chosen location is {{vm.selectedLocation.locationName}}</p>
                        </form>
                    
                    <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" ng-click="toggleMenu">Toggle Menu</a>-->
                    <button type="button" 
                            class="btn btn-default btn-link" 
                            id="menu-toggle" 
                            ng-model="vm.toggle" 
                            ng-click="vm.toggle=!vm.toggle">Toggle Menu</button>
                    <button type="button" 
                            class="btn btn-default" 
                            id="clear-selected-data" 
                            ng-click="vm.clearSelectedData()">Clear Selected</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->